<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <a href="/add_book/" class="floating-button">Add New Book</a>

    {% for i in book_object %}
        <div class="product-item">
    <img src="{{i.image.url}}" alt="" width="200" height="200">
    <div class="product-list">
      <h3>{{i.title}}</h3>
        <a href="/book_detail/{{i.id}}/" class="button">Подробнее</a>
    </div>
  </div>

    {% endfor %}
</body>
</html>