<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
</head>
<body>
<center>
    <button><a href="http://127.0.0.1:8000/">Back</a></button>
    <h3>НАЗВАНИЕ КНИГИ</h3>
      <h1>{{object_detail.title}}</h1>
      <img src="{{object_detail.image.url}}" alt="" width="200" height="200">
        <h3>ОПИСАНИЕ</h3>
      <p>{{object_detail.description}}</p>
        <h3>ДАТА ЗАГРУЗКИ</h3>
      <p><i>{{object_detail.created_date}}</i></p>
</center>
</body>
</html>